.button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #050500;
  background-color: #f8df1f;
  border-radius: 8px;
  cursor: pointer;
}
.link {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #050500;
  cursor: pointer;
}
.heading {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
}
.full-width {
  width: 100%;
}
.absolute {
  position: absolute;
}
.flex {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.center {
  align-items: center;
  justify-content: center;
}
.container-padding {
  padding: 2rem 10rem;
}
.border-yellow {
  border-top: 10px solid #f8df1f;
}
body {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin: 0;
}
nav {
  width: 100%;
  padding: 2rem 10rem;
  background-color: #f8df1f;
}
nav ul {
  padding-left: 0;
}
nav ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #050500;
  cursor: pointer;
  list-style: none;
  display: inline-block;
  padding: 0 25px;
  text-transform: uppercase;
}
nav ul li:first-of-type {
  padding-left: 0;
}
nav ul li:last-of-type {
  color: #ee252f;
}
header {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #3b3838;
  opacity: 66%;
  z-index: 2;
}
header .banner-img {
  width: 100%;
  z-index: 1;
}
header .overlay-items {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  z-index: 3;
}
header .overlay-items .banner-logo {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  width: 325px;
  height: 175px;
  margin-bottom: 1rem;
}
button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #050500;
  background-color: #f8df1f;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin: auto;
  padding: 15px 30px;
}
section {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  padding: 2rem 10rem;
}
section article {
  max-width: 66%;
}
section article h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
section article h2 span {
  color: #ee252f;
}
section img {
  margin: auto;
}
section:last-of-type {
  background-color: #f3f3f3;
}
footer {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 10rem;
  border-top: 10px solid #f8df1f;
  background-color: #080801;
}
footer img {
  width: 300px;
  height: 125px;
}
