.button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #050500;
  background-color: #f8df1f;
  border-radius: 8px;
}
.overlay {
  background-color: #3b3838;
  opacity: 33%;
  position: absolute;
}
.heading {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
}
.banner {
  background-color: #3b3838;
  opacity: 33%;
  position: absolute;
}
.banner .banner-img {
  width: 100%;
}
.banner .banner-logo {
  margin: auto;
}
