.button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #050500;
  background-color: #f8df1f;
  border-radius: 8px;
  cursor: pointer;
}
.heading {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
}
.logo {
  width: 325px;
  height: 175px;
}
.full-width {
  width: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.center {
  align-items: center;
  justify-content: center;
}
body {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin: 0;
}
header {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}
header .overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #3b3838;
  opacity: 66%;
  z-index: 2;
}
header .banner-img {
  width: 100%;
  z-index: 1;
}
header .overlay-items {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  z-index: 3;
}
header .overlay-items .banner-logo {
  width: 325px;
  height: 175px;
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
header .overlay-items button {
  padding: 15px 30px;
}
button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #050500;
  background-color: #f8df1f;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin: auto;
}
