@import 'mixins';

body{
  .flex();
  margin: 0;
}
header {
  .flex();
  .relative();
  .full-width();
  .center();
  .overlay {
    .full-width();
    .absolute();
    height: 100%;
    background-color: @overlay-black;
    opacity: @overlay-opacity;
    z-index: 2;
  }
  .banner-img {
    .full-width();
    z-index: 1;
  }
  .overlay-items {
    .flex();
    .absolute();
    .center();
    margin-top: -2rem;
    z-index: 3;
    .banner-logo {
      .logo();
      .flex();
      margin-bottom: 1rem;
    }
    button {
      padding: 15px 30px;
    }
  }
}
button {
  .button();
  border: none;
  margin: auto;
}
