@import 'mixins';

body{
  margin: 0;
}
header {
  .relative();
  .full-width();
  .overlay {
    .full-width();
    .absolute();
    height: 100%;
    background-color: @overlay-black;
    opacity: @overlay-opacity;
    z-index: 2;
  }
  .banner-img {
    .full-width();
    z-index: 1;
  }
  .banner-logo {
    .absolute();
    .center();
    .logo();
    z-index: 3;
  }
}
