@import 'variables';

// Buttons
.button {
  font-family: @roboto;
  font-size: @size-18;
  font-weight: @weight-500;
  text-transform: @upper;
  color: @text-black;
  background-color: @yellow;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  margin: auto;
  @media @tablet {
    padding: .75rem;
  }
}

.link {
  font-family: @roboto;
  font-size: @size-18;
  font-weight: @weight-500;
  color: @text-black;
  cursor: pointer;
}

// Headings
.heading {
  font-family: @roboto;
  font-size: @size-30;
  font-weight: @weight-500;
}

// Positioning
.full-width {
  width: 100%;
}
.absolute {
  position: absolute;
}
.flex{
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.center {
  align-items: center;
  justify-content: center;
}
.container-padding {
  padding: 2rem 10rem;
  @media @tablet, {
    padding: 2rem;
  }
  @media @mobile {
    padding: 2rem 10px;
  }
}
