@import 'variables';

// Buttons
.button {
  font-family: @roboto;
  font-size: @size-18;
  font-weight: @weight-500;
  text-transform: @upper;
  color: @text-black;
  background-color: @yellow;
  border-radius: 8px;
  cursor: pointer;
}

// Headings
.heading {
  font-family: @roboto;
  font-size: @size-30;
  font-weight: @weight-500;
}

// logo
.logo {
  width: 325px;
  height: 175px;
}

// Positioning
.full-width {
  width: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex{
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.center {
  align-items: center;
  justify-content: center;
}
