// Colors
@gray: #F3F3F3;
@yellow: #F8DF1F;
@red: #EE252F;
@black: #080801;
@text-black: #050500;
@overlay-black: #3B3838;
@overlay-opacity: 66%;

// Text
@weight-400: 500;
@weight-500: 500;
@size-16: 16px;
@size-18: 18px;
@size-30: 30px;
@upper: uppercase;
@roboto: 'Roboto',sans-serif;

// Media Queries - https://stackoverflow.com/questions/15837808/fancy-media-queries-with-some-less-magic
@tablet:    ~"only screen and (min-width: 560px) and (max-width: 959px)";
@mobile:    ~"only screen and (max-width: 559px)";
